

.MuiDataGrid-columnHeaders.css-f3jnds-MuiDataGrid-columnHeaders{
    
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(211, 212, 235);
    min-height: 30px !important;
    max-height: 40px !important;
  }
  .MuiDataGrid-footerContainer.css-17jjc08-MuiDataGrid-footerContainer{
    min-height: 20px !important;
    max-height: 30px !important;
 }
 
.css-levciy-MuiTablePagination-displayedRows.css-levciy-MuiTablePagination-displayedRows-displayedRows {
 
  font-size: 0.675rem !important;
  margin-bottom: -1rem !important;
}